.form-submit-btn {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  color: $color;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  background: $min-blu;
  padding: 10px 55px;
}