.section-mission {
  padding: 94px 0;
   @media screen and (min-width: $mobile){
      margin: 0 auto;
      display: none;
    }
   @media screen and (min-width: $desktop){
      display: block;
      text-align: center;
      padding: 0 0 94px 0;
  }
  }
.second-title, .second-title-two{
  @extend %position-center;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.7;
  margin-bottom: 50px;
}
.second-title {
   @media screen and (min-width: $mobile){
      width: $mobile;
      display: none;
      margin: 0;
   @media screen and (min-width: $desktop){
      display: flex;
      justify-content: center;
      width: 100%;
      padding-bottom: 50px;
    }
  }
}
.mission-list {
  width: 100%;
  display: flex;
  justify-content: space-between; 
  &__item {
  position: relative;
}
  &__text {
  position: absolute;
  @extend %position-center;
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 3px;
  color: $one-color;
  background: rgba(47, 48, 58, 0.8);
  }
}