.section-team {
  background-color: $milk;
  padding: 94px 0;
  max-width: 1600px;
  margin: 0 auto;
  @media screen and (min-width: $mobile){
    padding: 60px 0 30px 0;
  }
   @media screen and (min-width: $desktop){
     padding: 94px 0;
   }
}
.list-team {
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: $tablet){
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
      justify-content: flex-start;
    }
    @media screen and (min-width: $desktop){
      flex-wrap: nowrap;
    }
    &__item-team { 
    margin-right: 30px;  
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: $one-color;
     @media screen and (min-width: $mobile){
      display: block;
      width: 100%;
      margin: 0 0 30px 0;
    }
     @media screen and (min-width: $tablet){ 
      width: calc((100% - 2 * 30px) /2);
      flex-wrap: wrap;
      margin: 15px;     
    }
      img {
        width: 100%;
        height: auto;
      }
  }
//     &__item-team:last-child {
//      @media screen and (min-width: $tablet){ 
//   margin-right: 0;
//   }
// }
   @media screen and (min-width: 320px){
      flex-direction: column;
    }
    @media screen and (min-width: $tablet){ 
    flex-direction: row;      
  }
}
.item-team__name {
  text-align: center;
  padding-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
}
.item-team__prof {
  text-align: center;
  padding-bottom: 30px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.9;
  color: $gray;
}