:root {
  --main-color: #212121;
  --sec-color: #757575;
  --active-color: #2196f3;
}
$one-color: white;
$min-white: #ececec;
$color: #fff;
$milk: #F5F4FA;
$white-gray: #eee;
$light-blu: #2196F3;
$min-blu: #188CE8;
$visual-blu: #2196f3e6;
$blu: blue;
$baba-gray: #bababa;
$light-gray: #AFB1B8;
$visual-gray: rgba(255, 255, 255, 0.6);
$gray: #757575;
$gray-dark: rgba(255, 255, 255, 0.302);
$dark: #2f303a;
$light-black: #00000026;
$main-black: #212121;
$black: black;


