// .menu-navigation, .menu-contacts {
//     height: 40px;
//     width: 50px;
// }
// .menu-navigation {
//     outline: 1px solid teal;
// }
// .menu-contacts {
//     outline: 1px solid orange;
// }
.menu-container {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  background-color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 20px; 
  &.is-open {
    display: block;
  }
}
.menu-navigation {
    padding-top: 6px;
    text-align: left;
}
.menu-navigation .list-nav .list-nav__link .list-nav__linok { 
    max-width: 767px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
}
.page-header__networks {
  display: flex;
  justify-content: start;
  margin-bottom: 28px; 
}
.page-header__network-link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #2196F3;
    padding: 0 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.page-header__networks .page-header__network:last-child .page-header__network-link{
    border: none;
}