*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    cursor: pointer;
}

ul li {
    list-style: none;
}

button {
    border: none;
    cursor: pointer;   
} 
.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;

  @media screen and (min-width: $mobile){
    width: $mobile;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @media screen and (min-width: $tablet){
    width: $tablet;
    display: block;
    flex-wrap: nowrap;
  }
   @media screen and (min-width: $desktop){
    min-width: $desktop;
    padding: 0;
  }
}

    // @media screen and (min-width: $mobile){
    //     width: $mobile;
    // }

    // @media screen and (min-width: $tablet){
    //     width: $tablet;
    // }
    // @media screen and (min-width: $desktop){
    //     width: $desktop;
    // }


















//  @media screen and (min-width: $mobile){
//       width: $mobile;
//  }

//  @media screen and (min-width: $tablet){
//       width: $tablet;
//  }
//  @media screen and (min-width: $desktop){
//       width: $desktop;
//  }





